html, body {
  padding: 0;
  margin: 0;
  background: black;
  color: white;
  font-family: sans-serif;
}
#main_svg {
  width: 100%;
  height: calc(100vh - 155px - 20px);
  object-fit: contain;
}
#control {
  margin: 10px;
}
#row0 {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  justify-items: start;
}
#play {
  width: 6em;
}
#heading {
  font-variant: small-caps;
  font-size: x-large;
}
.label_slider {
  margin-top: 10px;
}
#position_display_precise {
  display: none;
}
#speed_display {
  width: 4em;
  text-align: center;
}

#position_display_slider {
  width: 2em;
  text-align: center;
}

#caption {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  align-items: stretch;
  justify-items: center;
  font-variant: small-caps;
  height: 20px;
}